[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autoflake = "*"
mypy = "*"
rope = "*"
autopep8 = "*"
flask-testing = "*"
black = "*"
isort = "*"

[packages]
loguru = "*"
opencv-python = "*"
scikit-image = "*"
hypothesis = "*"
flask = "*"
flask-cors = "*"
flask-socketio = "*"
python-dotenv = "*"
flask-script = "*"
flask-migrate = "*"
psycopg2-binary = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
redis = "*"
rq = "*"
decorator = "*"
flask-admin = "*"
marshmallow-enum = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
